//
// 共通定义
// --------------------------------------------------


// html标签重定义
// -------------------------
body, html {background: #fff; font-size: $font-size-base; font-family: $font-family-base;height: 100%}
input::-ms-clear {display: none;}
input::-ms-reveal{display: none;}
input,select,textarea,button {outline: none;}
input[type="submit"],
input[type="reset"],
input[type="button"],
button { -webkit-appearance: none; cursor: pointer; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }
i,em {font-style: normal;}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}
ul li {list-style: none;}


// 自定义class
// -------------------------
.d-hide { display: none; }
.d-show { display: block; }
.d-clear { clear: both; }
.d-float-left { float: left; }
.d-float-right { float: right; }
.d-inline-block { @extend %inline-block; }
.d-limit-width {white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.d-text-center {text-align: center;}
.d-text-left {text-align: left;}
.d-text-right {text-align: right;}

@each $value in $margin-size {
  @include margin-position(nth($value,1), nth($value,2), nth($value,3));
}

// 表单共通元素 开始
// -------------------------
.d-form {
    textarea {
      padding: 6px;
      resize: none;
    }

    .d-weight {
        border-radius: 3px;
        width: 150px;
        height: 30px;
        line-height: 30px;
        position: relative;

        input {
            width: 115px;
            height: 29px;
            line-height: 29px;
            text-indent: 6px;
        }
        em {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 35px;
            height: 30px;
            i {
                display: block;
                width: 35px;
                height: 30px;
            }
        }
    }

    ul li {
        height: 62px;
        line-height: 32px;
    }

    .d-form-rows2-1,
    .d-form-rows2-2 {
        width: 50%;
    }
    .d-form-rows2-1 {
        float: left;
    }
    .d-form-rows2-2 {
        margin-left: 50%;
    }

    label.d-form-left {
        display: block;
        float: left;
        height: 32px;
        font-size: 14px;
        position: relative;

        i {
            position: absolute;
            top: 2px;
            left: -12px;
        }
    }

    div.d-form-content {
        position: relative;

        input[type=text] {
            height: 30px;
            line-height:30px;
            text-indent: 0.5em;
            margin: 0;
        }
        input[type=radio] {
            margin: 2px 0 0 12px;
        }
    }

    .d-error {
        display: none;
        font-size: 14px;
        line-height: 1em;
        padding: 4px 0;

        i {
            @extend %inline-block;
            width: 15px;
            height: 15px;
            vertical-align: text-top;
        }
    }

    dl.d-form-radio dd {
        @extend %inline-block;
        cursor: pointer;

        i {
            @extend %inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin: 0 10px 0 20px;
        }

        label {
            vertical-align: middle;
            font-size: 14px;
            cursor: pointer;
        }
    }
}