//
// 共通定义 - 前台
// --------------------------------------------------



/* html标签重定义
========================================================================== */
// * {border: 0;padding: 0;margin:0;}
body, html {background: #fff; font-size: $font-size-base; font-family: $font-family-base;height: 100%}
// h1,h2,h3,h4,h5,h6,p,ul,dl {margin: 0;padding: 0}
ul li {list-style: none;}
input,select,textarea,button {outline: none;}
input::-ms-clear {display: none;}
input::-ms-reveal{display: none;}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }
input[type="submit"],
input[type="reset"],
input[type="button"],
button { -webkit-appearance: none; cursor: pointer; }
i,em {font-style: normal;}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}


/* 自定义class
========================================================================== */
.d-hide { display: none; }
.d-show { display: block; }
.d-clear { clear: both; }
.d-float-left{ float: left; }
.d-float-right { float: right; }
.d-inline-block { @extend %inline-block; }
.d-limit-width {white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.d-text-center {text-align: center;}
.d-text-left {text-align: left;}
.d-text-right {text-align: right;}
// .d-m-l-05em {margin-left: 0.5em;}
// .d-m-l-2em {margin-left: 2em;}
@each $value in $margin-size {
  @include margin-position(nth($value,1), nth($value,2), nth($value,3));
}


/* 左侧栏固定宽度，右侧自适应
========================================================================== */
.bd-lft {
  zoom:1;
  overflow:hidden;
  padding-left:210px;
  .main {
    float:left;
    width:100%;
  }
  .aside {
    float:left;
    width:200px;
    margin-left:-100%; /*= -100%*/
    position:relative;
    left:-210px; /* = -parantNode.paddingLeft */
    _left: 0; /*IE6 hack*/
  }
}


/* 右侧栏固定宽度，左侧自适应
========================================================================== */
.bd-rgt {
  zoom:1;
  overflow:hidden;
  padding-right:210px;
  .main {
    float:left;
    width:100%;
  }
  .aside {
    float:left;
    width:200px;
    margin-left:-200px; /* = -this.width */
    position:relative;
    right:-210px; /* = -parantNode.paddingRight */
  }
}


/* 左中右 三栏自适应
========================================================================== */
.bd-3-lr {
  zoom:1;
  overflow:hidden;
  padding-left:210px;
  padding-right:210px;
  .main {
    float:left;
    width:100%;
  }
  .aside-1 {
    float: left;
    width:200px;
    margin-left: -100%;

    position:relative;
    left: -210px;
    _left: 210px; /*IE6 hack*/
  }
  .aside-2 {
    float: left;
    width:200px;
    margin-left: -200px;

    position:relative;
    right: -210px;
  }
}
