//
// 16988 集购网 前台
// --------------------------------------------------

body {
    min-width: 1050px;
}
.redup {
    background: url("/img/front/common/bg_all.png") no-repeat -79px -593px;
    display: inline-block;
    width: 10px;
    height: 13px;
    vertical-align: text-bottom;
}
.greendown {
    background: url("/img/front/common/bg_all.png") no-repeat -80px -565px  ;
    display: inline-block;
    width: 10px;
    height: 13px;
    vertical-align: text-bottom;
}
.greybalance {
    background: url("/img/front/common/bg_all.png") no-repeat -79px -540px;
    display: inline-block;
    width: 10px;
    height: 13px;
    vertical-align: text-bottom;
}


/* 顶部灰底导航
========================================================================== */
#front-container {
    background: #fff;
    min-width: 1200px;
}

#front-header {
    background: #fff;
    min-width: 1200px;
}

#front-top-status-bg {
    width: 100%;
    height: 28px;
    line-height: 28px;
    background: #333333;
}

#front-top-status {
    width: 1200px;
    margin: 0 auto;
    color: #f1f1f1;
    a {
        color: #f1f1f1;
        text-decoration: none;
        padding: 0 11px;
        border-right: 1px solid #767676;
        &:hover {
            color: #ff9242;
        }
    }
}

#front-top-status-nav {
    position: relative;
    *z-index: 1009;
    color: #fff;
    float: right;
    margin: 0;
    background: #333333;
    dt {
        float: left;
        a.online {
            color: #9ebe51;
            position: relative;
            padding-left: 32px;
            div.online-icon {
                width: 18px;
                height: 13px;
                background: url(/img/front/common/bg_all.png) no-repeat -165px -174px;
                position: absolute;
                top: 0;
                left: 10px;
            }
        }
    }
    .trade-time {
        padding: 0 11px;
        em {
            width: 19px;
            height: 18px;
            display: inline-block;
            *zoom: 1;
            *display: inline;
            vertical-align: text-bottom;
            margin: 0 5px;
            background: url("/img/front/homepage-tc.png") no-repeat -53px -51px;
        }
    }
    .qrcode {
        position: relative;
        a.text {
            padding: 0 16px 0 22px;
        }
        i {
            display: block;
            width: 6px;
            height: 3px;
            position: absolute;
            top: 12px;
            right: 8px;
        }
        a.text i {
            background: url(/img/front/common/qrcode-bg.png) no-repeat -270px -29px;
        }
        em {
            display: block;
            width: 10px;
            height: 18px;
            position: absolute;
            top: 4px;
            left: 7px;
            background: url(/img/front/common/qrcode-bg.png) no-repeat -28px -23px;
        }
        &:hover .qrcode-area {
            display: block;
        }
    }
    .qrcode-area {
        display: none;
        h3 {
            position: absolute;
            top: 0;
            left: -1px;
            font-size: 12px;
            background: #484848;
            padding: 0 17px 0 23px;
            font-weight: normal;
            *width: 60px;
            i {
                background: url(/img/front/common/qrcode-bg.png) no-repeat -233px -28px;
            }
            em {
                left: 8px;
            }
        }
        div {
            &.qrcode-content {
                position: absolute;
                width: 200px;
                top: 28px;
                left: -1px;
                z-index: 9999;
                background: #fff;
                border: 1px solid #a8a8a8;
                padding: 10px;
                height: 82px;
                img {
                    width: 82px;
                }
            }
            &.qrcode-content-right {
                margin-left: 100px;
                width: 97px;
                color: #262626;
                font-size: 14px;
                text-align: center;
                h4 {
                    width: 46px;
                    margin-top: 10px;
                    b {
                        display: inline-block;
                        *display: inline;
                        *zoom: 1;
                        width: 41px;
                        height: 40px;
                    }
                    &.android {
                        text-align: left;
                        b {
                            background: url(/img/front/common/qrcode-bg.png) no-repeat -61px -8px;
                        }
                    }
                    &.ios {
                        text-align: right;
                        b {
                            background: url(/img/front/common/qrcode-bg.png) no-repeat -117px -8px;
                        }
                    }
                }
            }
        }
    }
    .quick-search {
        position: relative;
        a {
            padding: 0 16px 0 11px;
        }
        i {
            display: block;
            width: 6px;
            height: 3px;
            position: absolute;
            top: 12px;
            right: 8px;
        }
        a i {
            background: url(/img/front/common/qrcode-bg.png) no-repeat -270px -29px;
        }
    }
    .quick-search-area {
        display: none;
        h3 {
            position: absolute;
            top: 0;
            left: -1px;
            font-size: 12px;
            background: #484848;
            padding: 0 17px 0 12px;
            font-weight: normal;
            width: 48px;
            i {
                background: url(/img/front/common/qrcode-bg.png) no-repeat -233px -28px;
            }
        }
    }
    ul {
        position: absolute;
        width: 385px;
        top: 28px;
        left: -1px;
        z-index: 9999;
        background: #fff;
        border: 1px solid #a8a8a8;
        padding: 0 10px 20px;
        li {
            padding: 10px 0;
            height: 28px;
            border-bottom: 1px solid #eee;
            &.last {
                border-bottom: none;
            }
        }
    }
    .quick-search-area ul a {
        display: block;
        float: left;
        color: #535353;
        height: 24px;
        line-height: 24px;
        padding: 0 6px;
        margin-right: 5px;
        border: 1px solid #fff;
        white-space: nowrap;
    }
    ul a:hover {
        color: #fc7941;
        border: 1px solid #fc7941;
    }
}

#front-top-status-welcome {
    a {
        border-right: none;
        border-left: 1px solid #767676;
    }
    span {
        color: #9ebe51;
        margin-right: 11px;
    }
}

#front-top-status-afterlogin a {
    border: none;
    font-weight: bold;
}


/* 头部 logo 搜索
========================================================================== */
#front-header-content {
    width: 1200px;
    margin: 0 auto;
    height: 118px;
    .logo-block {
        margin-top: 27px;
        float: left;
        a {
            display: block;
            width: 414px;
            height: 48px;
            background: url(/img/front/common/bg_all.png) no-repeat -1074px -1650px;
        }
    }
    .search-block {
        float: left;
        width: 403px;
        margin-top: 35px;
        margin-left: 88px;
        .search-form {
            width: 403px;
            height: 67px;
            position: relative;
        }
        .search-tabs {
            height: 25px;
            li {
                float: left;
                padding: 0 14px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                cursor: pointer;
                color: #000;
                &.active {
                    background: #9abe44;
                    color: #fff;
                }
            }
        }
        .search-form {
            .search-inputbg {
                position: absolute;
                left: 0;
                width: 310px;
                height: 36px;
                border: 2px solid #9abe44;
                background: #fff;
            }
            .icon-seach {
                background: url(/img/front/common/bg_all.png) no-repeat -117px -1662px;
                width: 24px;
                height: 21px;
                position: absolute;
                top: 8px;
                left: 12px;
            }
            .search-input {
                position: absolute;
                top: 1px;
                left: 20px;
                height: 34px;
                line-height: 36px;
                width: 268px;
                outline: none;
                background: none;
                font-size: 12px;
                color: #959595;
            }
            .search-span {
                position: absolute;
                height: 40px;
                line-height: 40px;
                font-size: 12px;
                color: #959595;
                left: 20px;
            }
            .search-submit {
                position: absolute;
                left: 310px;
                background: #9abe44;
                -webkit-appearance: none;
                width: 92px;
                height: 40px;
                cursor: pointer;
                font-size: 16px;
                font-weight: bold;
                color: #fff;
            }
            #suggest_ul {
                display: none;
                z-index: 999;
                position: absolute;
                left: 0;
                top: 40px;
                border: 2px solid #9abe44;
                list-style-type: none;
                border-top: none;
                width: 308px;
                li {
                    /*padding-left:5px;*/
                    text-indent: 1em;
                    line-height: 22px;
                    font-size: 13px;
                    height: 22px;
                    cursor: default;
                    background: #ffffff;
                }
            }
        }
        .search-hotkey {
            position: relative;
            width: 400px;
            padding: 5px 0 0 25px;
            p {
                background: url(/img/front/common/bg_all.png) no-repeat -169px -358px;
                width: 25px;
                height: 22px;
                position: absolute;
                top: -6px;
                left: 2px;
                z-index: 100;
            }
            a {
                font-size: 12px;
                color: #959595;
                text-decoration: none;
                padding: 0 5px;
                &:hover {
                    color: #FF9242;
                }
            }
            .first {
                color: #797979;
            }
        }
    }
    .shoppingcart-block {
        float: left;
        margin-top: 45px;
        margin-left: 50px;
        /*原来是60*/
        width: 128px;
        /*原来是156*/
        height: 39px;
        /*原来是36*/
        line-height: 39px;
        border: 1px solid #d3d3d3;
        position: relative;
        background: #f1f1f1;
        border-radius: 5px;
        font-size: 14px;
        color: #262626;
        text-align: center;
        text-indent: 25px;
        z-index: 102;
        #shopcarlink {
            color: #434343;
            text-decoration: none;
            &:hover {
                color: #FF9242;
            }
        }
        #shopcar-img {
            width: 18px;
            height: 16px;
            background: url(/img/front/header-shopcar.png) no-repeat;
            vertical-align: middle;
            position: absolute;
            top: 11px;
            left: 10px;
            z-index: 80;
        }
        #carnum-bg {
            width: 21px;
            height: 17px;
            line-height: 15px;
            text-align: center;
            background: url(/img/front/carnum-bg.png) no-repeat;
            position: absolute;
            right: 16px;
            top: -10px;
            text-indent: 0px;
            font-size: 12px;
            color: #ffffff;
        }
        #hover-bg {
            position: absolute;
            z-index: 92;
            width: 128px;
            height: 6px;
            background: #fff;
            top: 35px;
            left: 0;
            display: none;
        }
        #name-box-style {
            display: none;
            #no-goods-shopcar {
                width: 301px;
                padding: 9px 0;
                border: 1px solid #d3d3d3;
                position: absolute;
                left: -174px;
                top: 36px;
                z-index: 81;
                background: #fff;
                font-size: 14px;
                color: #909090;
                text-align: left;
                .nogoods {
                    margin-left: 20px;
                }
            }
            #nogoods-shopcar {
                width: 37px;
                height: 25px;
                display: inline-block;
                *zoom: 1;
                *display: inline;
                background: url(/img/front/nogoods-shopcar.png) no-repeat;
                vertical-align: middle;
            }
            #has-more-goods {
                width: 301px;
                border: 1px solid #d3d3d3;
                position: absolute;
                left: -174px;
                top: 37px;
                /*原来是39*/
                background: #fff;
                font-size: 14px;
                color: #909090;
                text-align: left;
                text-indent: 0px;
                #more-goods-message {
                    width: 277px;
                    height: 39px;
                    padding-bottom: 8px;
                    border-bottom: 1px dashed #d3d3d3;
                    margin: 0 auto;
                }
                #more-goods-example {
                    width: 292px;
                    /*原来是277*/
                    max-height: 212px;
                    margin-left: 10px;
                    overflow: scroll;
                    overflow-x: hidden;
                }
            }
        }
    }
}

#more-goods-example {
    .more-goods-box {
        height: 70px;
        border-bottom: 1px dashed #d3d3d3;
        img {
            width: 44px;
            height: 44px;
            margin-top: 14px;
            margin-left: 4px;
            float: left;
        }
    }
    .more-goods-name {
        width: 149px;
        /*原来是159*/
        height: 44px;
        margin-left: 7px;
        margin-top: 14px;
        float: left;
        div {
            line-height: 12px;
            font-size: 12px;
            height: 13px;
        }
        span {
            margin-left: 6px;
        }
        .name-pecifications {
            color: #434343;
            width: 148px;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            overflow: hidden;
            a {
                color: rgb(255, 146, 66);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .goods-color {
            color: #767676;
            margin-top: 15px;
        }
    }
    .more-goods-money {
        height: 44px;
        margin-top: 14px;
        float: left;
        color: #434343;
        font-weight: bold;
    }
    .more-goods-moneys {
        line-height: 12px;
        height: 20px;
        font-size: 12px;
        span {
            color: #a40000;
        }
    }
    .more-goods-del {
        line-height: 24px;
        div {
            line-height: 24px;
            font-size: 12px;
        }
        a {
            font-size: 12px;
            color: #434343;
            margin-left: 28px;
            &:hover {
                color: #ff9242;
            }
        }
    }
}

#has-more-goods #more-goods-totalmoney {
    padding-left: 20px;
    height: 40px;
    background: #f9f9f9;
    font-size: 12px;
    span {
        margin-left: 15px;
    }
    .shoppingcart-link {
        background: url(/img/usercenter/ucent-allbtn-bg.png) no-repeat -15px -8px;
        width: 77px;
        height: 25px;
        line-height: 25px;
        display: inline-block;
        *zoom: 1;
        *display: inline;
        vertical-align: top;
        margin: 7px 0 0 32px;
        &:hover {
            background: url(/img/usercenter/ucent-allbtn-bg.png) no-repeat -103px -10px;
        }
    }
}

#front-header-content {
    #front-header-free-reg {
        margin-top: 18px;
        margin-left: 115px;
        float: left;
        .freereg-link {
            width: 160px;
            height: 62px;
            display: inline-block;
            *zoom: 1;
            *display: inline;
            line-height: 51px;
            img {
                vertical-align: middle;
            }
        }
    }
    #front-header-free-qrcode {
        margin-top: 15px;
        margin-left: 20px;
        float: left;
        border: 1px solid #81ab23;
        padding: 6px;
        height: 82px;
        position: relative;
        p {
            float: left;
            font-size: 14px;
            color: #81ab23;
            width: 14px;
            height: 76px;
            padding-top: 6px;
        }
        h3 {
            width: 82px;
            margin-left: 18px;
            img {
                width: 100%;
            }
        }
        a {
            position: absolute;
            top: -1px;
            right: -18px;
            display: block;
            width: 16px;
            height: 16px;
            background: url(/img/front/common/qrcode-bg.png) no-repeat -179px -22px;
            border: 1px solid #81ab23;
        }
    }
}


/* 头部 导航
========================================================================== */
#front-header-navigation {
    /*background: #9abe44;*/
    border-bottom: 4px solid #9abe44;
    height: 42px;
}

#front-header-navigation-content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    *z-index: 20;
}

#front-header-all-categories {
    position: absolute;
    top: -10px;
    left: 0;
    background: url(/img/front/common/bg_all.png) no-repeat -98px -1407px;
    height: 50px;
    width: 224px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
}

.front-header-all-categories-shadow {
    position: absolute;
    left: 224px;
    top: -10px;
    height: 11px;
    width: 6px;
    background: url(/img/front/bg_merge_1.png) no-repeat -301px -226px;
}

#front-header-all-categories-name {
    position: absolute;
    width: 230px;
    height: 427px;
    top: 40px;
    z-index: 1000;
    left: 0;
    background: url(/img/front/common/bg_all.png) no-repeat -746px -1646px;
    i {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    li {
        padding: 17px 0;
        margin-right: 6px;
        border-top: 1px solid #888;
        cursor: default;
        &.first {
            border-top: none;
        }
        &.lastli {
            padding: 17px 1px 20px 1px;
            *display: inline-block;
        }
        &:hover {
            background: url(/img/front/common/bg_all.png) no-repeat -424px -1662px;
        }
    }
    .item {
        position: relative;
        h3 {
            font-size: 16px;
            color: #fff;
            margin: 0 0 8px 65px;
            *margin: 0 0 0 65px;
            *padding-bottom: 8px;
        }
        p {
            margin: 0 0 0 65px;
            color: #aaa;
        }
        em {
            color: #f95f00;
        }
        .icon-logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 65px;
            height: 35px;
        }
        .icon-arrow {
            background: url(/img/front/common/bg_all.png) no-repeat -399px -1669px;
            width: 7px;
            height: 12px;
            position: absolute;
            top: 15px;
            right: 20px;
        }
    }
    .menu {
        display: none;
        position: absolute;
        width: 250px;
        height: 396px;
        top: 0;
        left: 224px;
        z-index: 9999;
        background: #fff;
        border-right: 1px solid #648125;
        border-bottom: 1px solid #648125;
        padding: 15px;
        overflow: hidden;
        .products {}
        .brands {
            margin-top: 20px;
        }
        dd {
            float: left;
            margin-bottom: 20px;
            border-right: 1px solid #eee;
            padding: 0 4px;
        }
        a {
            color: #242424;
            text-decoration: none;
            padding: 4px 8px;
            border: 1px solid #fff;
            display: block;
            white-space: nowrap;
            &:hover {
                border: 1px solid #d79839;
                background: #ffeab9;
            }
        }
        h2 {
            clear: both;
            padding: 20px 0 2px 4px;
            font-size: 16px;
            border-bottom: 1px solid #e4004f;
            border-top: 1px dashed #eee;
            i {
                background: url(/img/front/common/bg_all.png) no-repeat -293px -1668px;
                width: 14px;
                height: 14px;
                margin-right: 15px;
                vertical-align: top;
            }
        }
    }
}

.front-header-categories-link {
    height: 41px;
    line-height: 41px;
    padding-left: 26px;
    color: #FFFFFF;
    font-size: 14px;
    &:hover {
        background: #6e6e6e;
        margin-right: 6px;
    }
    a {
        color: #e5e5e5;
        text-decoration: none;
        font-size: 14px;
        &:hover {
            text-decoration: underline;
            color: #FFFFFF;
        }
    }
}

#front-header-navigation-nav {
    /*margin-left:224px;*/
    line-height: 42px;
    height: 42px;
    position: relative;
    width: 990px;
    /*background: #9abe44;*/
    dt {
        float: left;
        height: 42px;
        a {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            width: 108px;
            color: #000;
            font-size: 16px;
            height: 42px;
            &:hover {
                color: #9abe44;
            }
        }
        .nav-hover {
            background: #9abe44;
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        .new-bg {
            background: url(/img/front/common/bg_all.png) no-repeat -161px -309px;
            width: 36px;
            height: 24px;
            position: absolute;
            top: -14px;
            left: 432px;
        }
        .icon-remen {
            background: url(/img/front/common/bg_all.png) no-repeat -162px -254px;
            width: 36px;
            height: 24px;
            position: absolute;
            top: -14px;
            left: 243px;
        }
        &.points {
            position: absolute;
            top: -30px;
            right: 200px;
            height: 71px;
            a:hover {
                background: none;
            }
        }
    }
}

#front-header-navigation-content .front-header-app {
    position: absolute;
    right: 0;
    bottom: 0;
    .header-qrcode {
        position: absolute;
        z-index: 999;
        left: 75px;
        display: none;
    }
    a {
        display: block;
        background: url(/img/front/common/bg_all.png) no-repeat -1077px -1748px;
        width: 216px;
        height: 87px;
    }
}


/* 公共尾部开始
========================================================================== */
#front-footer {
    width: 100%;
    min-width: 1200px;
    background: #f1f1f1;
}

#footer-helper {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    padding: 40px 0 0;
    background: #f1f1f1;
}

#footer-helper-logo {
    margin: 0 62px 0 82px;
    float: left;
    width: 145px;
    height: 151px;
    background: url(/img/front/common/front-all-bg.png) no-repeat -295px -295px;
}

#footer-helper .first {
    border-left: 1px solid #c4c4c4;
}

.footer-helper-links {
    float: left;
    padding: 0 36px;
    border-right: 1px solid #c4c4c4;
    height: 122px;
    background: #f1f1f1;
    margin-top: 21px;
    h2 {
        font-size: 15px;
        color: #404040;
        font-weight: bold;
    }
    ul {
        margin-top: 16px;
        list-style: none;
        li a {
            text-decoration: none;
            color: #666;
            font-size: 12px;
            line-height: 23px;
            &:hover {
                color: #ff9242;
            }
        }
    }
}

.footer-helper-backtotop {
    float: left;
    padding: 0 30px;
    border-left: 1px solid #c4c4c4;
    height: 149px;
}

#footer-bottom {
    height: 121px;
    width: 100%;
    background: url(/img/front/footer-botton.jpg) repeat;
    text-align: center;
    color: #d9d9d9;
    font-size: 12px;
    &.trendheader {
        background: #434750;
    }
    a {
        color: #fff;
        text-decoration: none;
        padding: 0 9px;
    }
}

#footer-bottom-link {
    width: 1200px;
    margin: 0 auto;
    padding-top: 19px;
    *padding-bottom: 1px;
}

.footer-bottom-copyright {
    width: 1200px;
    margin: 0 auto;
    margin-top: 11px;
    color: #aaaaaa;
}

#footer-bottom .footer-bottom-copyright a {
    padding: 0;
}

#front-content {
    width: 1200px;
    margin: 0 auto 30px;
}

#footer-links {
    width: 100%;
    overflow: hidden;
    padding-top: 11px;
    padding-bottom: 21px;
    background: #e5e5e5;
    margin-top: 35px;
}

#footer-main-content {
    width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}

#footer-links-title {
    float: left;
    width: 92px;
    font-size: 16px;
    color: #626262;
    margin-top: 25px;
    font-weight: bold;
}

#footer-links-content {
    width: 927px;
    margin: 0 auto;
    float: right;
    background: #e5e5e5;
}

#footer-links {
    .shepherd_a {
        width: 115px;
        height: 42px;
        line-height: 38px;
        display: inline-block;
        *zoom: 1;
        *display: inline;
        margin-left: 12px;
        margin-top: 12px;
        color: #333;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    .width-auto {
        width: auto;
        margin-right: 30px;
    }
    .Cancel {
        width: 115px;
        height: 40px;
        border: 1px solid #c2c2c2;
        border-radius: 5px;
        vertical-align: middle;
    }
}

#scrollUp {
    bottom: 30px;
    right: 30px;
    width: 53px;
    height: 62px;
    background: url(/img/front/footer-back-top.jpg) no-repeat;
    box-shadow: 1px 1px 4px #606060;
}


/* 右侧悬浮功能条
========================================================================== */
.gotop {
    position: fixed;
    width: 52px;
    right: 20px;
    bottom: 20%;
    z-index: 99;
    /*opacity: .9;*/
    border-top: 1px solid #e5e5e5;
    a, li {
        width: 52px;
        position: relative;
        float: left;
    }
    a {
        display: block;
        height: 51px;
        background: url(/img/front/common/front-all-bg.png) no-repeat;
        text-decoration: none;
    }
    .top {
        display: none;
    }
    .video {
        position: absolute;
        width: 78px;
        height: 91px;
        top: -92px;
        left: -13px;
    }
    .btn_video {
        width: 100%;
        height: 100%;
        background-position: -345px -478px;
    }
    .btn_shopping_cart {
        background-position: -85px -432px;
    }
    .btn_service {
        background-position: -85px -24px;
    }
    .btn_feedback {
        background-position: -85px -126px;
    }
    .btn_sweep {
        background-position: -85px -228px;
    }
    .btn_gotop {
        background-position: -85px -177px;
    }
    .btn_shopping_cart {
        &:hover, &.hover {
            background-position: -138px -432px;
        }
    }
    .btn_service:hover {
        background-position: -138px -24px;
    }
    .btn_feedback:hover {
        background-position: -138px -126px;
    }
    .btn_sweep {
        &:hover, &.hover {
            background-position: -138px -228px;
        }
    }
    .btn_gotop:hover {
        background-position: -138px -177px;
    }
    a {
        p {
            display: block;
            position: absolute;
            height: 50px;
            line-height: 50px;
            color: #fff;
            top: 0;
            right: 50px;
            white-space: nowrap;
            text-align: center;
            width: 0;
            padding: 0;
            overflow: hidden;
            -webkit-transition: .25s;
            -moz-transition: .25s;
            transition: .25s;
            cursor: default;
            &.service_show {
                background: url(/img/front/common/front-all-bg.png) no-repeat -196px -228px;
            }
            &.feedback_show {
                background: url(/img/front/common/front-all-bg.png) no-repeat -196px -176px;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &:hover p {
            &.service_show {
                width: 170px;
                padding-right: 1px;
            }
            &.feedback_show {
                width: 94px;
                padding-right: 1px;
            }
        }
    }
    .sweep_show {
        display: none;
        width: 72px;
        height: 191px;
        padding: 14px;
        top: -170px;
        left: -101px;
        position: absolute;
        border: 1px solid #e5e5e5;
        text-align: center;
        background: #fff;
        /*border-right: 0;*/
        i {
            display: block;
            position: absolute;
            background: url(/img/front/common/front-all-bg.png) no-repeat -46px -68px;
            width: 5px;
            height: 12px;
            bottom: 17px;
            right: -5px;
        }
        div {
            width: 72px;
            height: 72px;
            &.subscription_number {
                background: url(/img/front/common/front-all-bg.png) no-repeat -344px -39px;
            }
            &.free_qrcode {
                background: url(/img/front/common/front-all-bg.png) no-repeat -343px -135px;
            }
        }
        h5 {
            color: #ff8077;
            padding-top: 4px;
        }
    }
    .shopping_cart_show {
        display: none;
        padding: 0px;
        top: 0px;
        left: -271px;
        position: absolute;
        border: 1px solid #e5e5e5;
        text-align: center;
        background: #fff;
        z-index: 9;
    }
    .shopping_tip {
        display: block;
        width: 21px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        top: 2px;
        right: -11px;
        background: url("/img/front/common/front-all-bg.png") no-repeat scroll -490px -406px;
        color: white;
        &.hover {
            background: url("/img/front/common/front-all-bg.png") no-repeat scroll -490px -366px;
            color: coral;
        }
    }
    .shopping_cart_show i {
        background: url("/img/front/common/front-all-bg.png") no-repeat scroll -46px -68px;
        position: absolute;
        top: 10px;
        right: -10px;
        height: 10px;
        width: 10px;
    }
}

.shopping_null {
    width: 270px;
    height: 65px;
    padding-top: 35px;
    color: #666;
    .cart_icon {
        vertical-align: middle;
        background: url('/img/front/common/front-all-bg.png') no-repeat -215px -443px;
        width: 40px;
        height: 32px;
        display: inline-block;
        *zoom: 1;
        *display: inline;
    }
}

.shopping_content {
    width: 270px;
    .shpping_content_auto {
        max-height: 213px;
        overflow-y: auto;
    }
    .title {
        padding: 5px 5px;
        width: 260px;
        text-align: left;
        border-bottom: 1px solid #eee;
    }
    .more-goods-box {
        border-bottom: 1px solid #d3d3d3;
        height: 70px;
        a {
            position: static;
            background: none;
            img {
                float: left;
                height: 44px;
                margin-left: 4px;
                margin-top: 14px;
                width: 44px;
            }
        }
        .more-goods-name {
            float: left;
            height: 44px;
            margin-left: 7px;
            margin-top: 14px;
            width: 130px;
            .name-pecifications {
                color: #222;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 130px;
                a {
                    color: #222;
                    text-decoration: none;
                    white-space: nowrap;
                    float: none;
                    display: inline;
                    height: auto;
                    width: auto;
                }
            }
            div {
                text-align: left;
                font-size: 12px;
                height: 13px;
                line-height: 12px;
            }
            .goods-color {
                color: #222;
                margin-top: 15px;
            }
        }
        .more-goods-money {
            color: #a30;
            float: right;
            font-weight: bold;
            height: 44px;
            margin-top: 14px;
            padding-right: 3px;
        }
        .more-goods-moneys {
            font-size: 12px;
            height: 20px;
            line-height: 12px;
        }
        .more-goods-del a {
            color: #a30;
            font-size: 12px;
            height: 25px;
            line-height: 25px;
            text-align: right;
            width: 29px;
            margin-left: 20px;
        }
    }
    .total {
        width: 260px;
        padding: 2px 5px;
        text-align: left;
        height: 30px;
        line-height: 30px;
        background: #eee;
        .total_price {
            margin-left: 25px;
        }
        .total_pay {
            width: 70px;
            height: 32px;
            float: right;
            background: url('/img/front/common/front-all-bg.png') no-repeat -490px -451px;
            &:hover {
                background: url('/img/front/common/front-all-bg.png') no-repeat -490px -484px;
            }
        }
    }
}


/* 卡片式翻转
========================================================================== */
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    &:hover .back, &.hover .back {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    &:hover .front, &.hover .front {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background: lightgreen;
    z-index: 2;
}

.back {
    background: lightblue;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}


/* 面包屑导航
========================================================================== */
#fronts-breadCrumb {
    padding: 10px;
    height: 14px;
    ul {
        margin-left: 10px;
        color: #262626;
        height: 14px;
        li {
            float: left;
            *padding-bottom: 2px;
            span {
                padding: 0 5px;
                display: inline-block;
                *zoom: 1;
                *display: inline;
                vertical-align: middle;
                font-size: 14px;
                *vertical-align: top;
            }
            a {
                font-size: 14px;
                color: #ffa868;
                text-decoration: none;
                vertical-align: middle;
                *vertical-align: top;
                &:hover {
                    text-decoration: underline;
                }
            }
            .current {
                font-size: 14px;
                color: #262626;
                font-style: normal;
                vertical-align: middle;
            }
        }
    }
    p {
        margin-right: 16px;
        float: right;
        color: #262626;
        font-size: 14px;
        span {
            color: #ff9242;
            padding: 0 5px;
            font-weight: bold;
        }
    }
}


/* 已筛选
========================================================================== */
#fronts-been-choose {
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    /*height: 35px;*/
    line-height: 35px;
    font-size: 14px;
    text-indent: 15px;
    overflow: hidden;
    div {
        &.left {
            width: 75px;
            font-size: 14px;
        }
        &.right {
            width: 1120px;
            text-indent: 0px;
        }
    }
    a {
        display: inline-block;
        *zoom: 1;
        *display: inline;
        padding: 0 5px;
        line-height: 23px;
        border: 1px solid #dcdcdc;
        margin-left: 5px;
        color: #fa5f02;
        font-size: 12px;
        text-decoration: none;
        b {
            color: #262626;
        }
        span {
            width: 10px;
            height: 10px;
            display: inline-block;
            *zoom: 1;
            *display: inline;
            margin-left: 5px;
            vertical-align: middle;
            background: url(/img/front/spotmall/Removal.png) no-repeat;
        }
    }
}


/* 产品选择
========================================================================== */
.all-products {
    border: 1px solid #dcdcdc;
    margin: 0 auto 13px;
    line-height: 35px;
}

.all-products-actions {
    width: 156px;
    float: right;
    height: 35px;
    position: relative;
    a {
        display: block;
        *zoom: 1;
        *display: inline;
        text-decoration: none;
        float: left;
        width: 49px;
        height: 20px;
        text-align: center;
        margin: 6px 10px 0 0;
        color: #262626;
    }
    .products-more {
        width: 69px;
        height: 24px;
        background: url(/img/front/odd_spotmall/all.png) no-repeat -61px -101px;
        &:hover {
            background: url(/img/front/odd_spotmall/all.png) no-repeat -61px -50px;
        }
    }
    .products-fold {
        width: 69px;
        height: 24px;
        display: none;
        background: url(/img/front/odd_spotmall/all.png) no-repeat -252px -101px;
        &:hover {
            background: url(/img/front/odd_spotmall/all.png) no-repeat -252px -50px;
        }
    }
    .products-multi-select {
        position: absolute;
        width: 69px;
        height: 24px;
        left: 78px;
        background: url(/img/front/odd_spotmall/all.png) no-repeat -143px -101px;
        &:hover {
            background: url(/img/front/odd_spotmall/all.png) no-repeat -143px -50px;
        }
    }
}

.all-products-title {
    font-size: 14px;
    width: 94px;
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: center;
    position: relative;
}

.colord {
    color: #fff;
    background: #d6c1be;
}

.color-grey {
    color: #262626;
    background: #fff;
}

.all-products-title span {
    position: absolute;
    left: 4px;
    top: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background: url(/img/front/odd_spotmall/all.png) no-repeat -83px -335px;
}

.all-products-content {
    width: 924px;
    *width: 930px;
    float: left;
    height: 35px;
    overflow: hidden;
    margin-left: 12px;
}

.multi-selects-div {
    display: none;
    text-align: center;
}

.all-products-content input {
    vertical-align: middle;
    margin: 0;
}

.multi-select {
    display: none;
}

.single-product {
    float: left;
    color: #262626;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    /*overflow: hidden;*/
    vertical-align: middle;
    margin-right: 27px;
    a {
        color: #262626;
        font-size: 14px;
        text-decoration: none;
        vertical-align: middle;
        word-wrap: break-word;
        word-break: normal;
        &:hover {
            color: #82ac22;
        }
    }
}

.all-products-content .single-product-more {
    width: 112px;
    margin-right: 20px;
}

.products-more-submit {
    width: 47px;
    height: 21px;
    cursor: pointer;
    background: #88ae34;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #88ae34;
}

.products-more-submit-disabled {
    border: 1px solid #ccc;
    background: #f2f2f2;
    color: #c5c5c5;
    cursor: default;
}

.products-more-cancel {
    display: inline-block;
    width: 47px;
    height: 21px;
    line-height: 22px;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
    background: #f7f7f7;
    color: #666;
    border-radius: 2px;
    border: 1px solid #DDD;
}


/* 综合筛选条件
========================================================================== */
#Screening-conditions {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin: 13px auto;
    border: 1px solid #dcdcdc;
    background: #f5f5f5;
    a {
        text-decoration: none;
    }
    ul li {
        float: left;
        text-align: center;
    }
    .trigger a, .droplist a {
        display: block;
        padding: 0 15px;
        height: 40px;
        font-size: 14px;
        color: #262626;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        margin-left: -1px;
    }
    .trigger {
        a.active, &:hover a {
            position: relative;
            z-index: 1;
            color: #ff9242;
            background-color: #fff;
            border-color: #dcdcdc;
        }
    }
    .droplist a:hover {
        position: relative;
        z-index: 1;
        color: #ff9242;
        background-color: #fff;
        border-color: #dcdcdc;
    }
    .trigger {
        a.Comprehensive {
            margin-left: 0;
            border-left: none;
        }
        span {
            display: inline-block;
            *zoom: 1;
            *display: inline;
            background: url(/img/front/odd_spotmall/all.png) no-repeat -95px -294px;
            width: 10px;
            height: 12px;
            vertical-align: middle;
            margin-left: 4px;
            &.down {
                background: url(/img/front/odd_spotmall/all.png) no-repeat -226px -294px;
            }
            &.up {
                background: url(/img/front/odd_spotmall/all.png) no-repeat -362px -294px;
            }
        }
    }
    span {
        &.arrow {
            display: inline-block;
            *zoom: 1;
            *display: inline;
            background: url(/img/front/odd_spotmall/all.png) no-repeat -491px -420px;
            width: 14px;
            height: 7px;
            vertical-align: middle;
            margin-left: 4px;
        }
        &.arrow-up {
            background: url(/img/front/odd_spotmall/all.png) no-repeat -743px -420px;
        }
    }
    .hasDroplistHover {
        position: relative;
        z-index: 5;
    }
    .droplist {
        display: none;
        position: absolute;
        z-index: 2;
        top: -1px;
        left: -1px;
        width: 136px;
        border: solid 1px #ccc;
        background: #fff;
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        a {
            border: none;
            margin-left: 0;
            padding: 0 0 0 15px;
            text-align: left;
        }
    }
    .search input {
        &[type=text] {
            margin-left: 20px;
            border: 1px solid #dcdcdc;
            height: 30px;
            line-height: 30px;
            /*width: 140px;*/
            padding: 0 5px;
            outline: none;
        }
        &[type=submit] {
            background: url("/img/front/resources/all.png") no-repeat -59px -29px;
            width: 74px;
            height: 31px;
            margin: 2px 0 0 5px;
            outline: none;
            cursor: pointer;
            &:hover {
                background: url("/img/front/resources/all.png") no-repeat -284px -29px;
            }
        }
    }
    .search-resources-link-a {
        display: block;
        background: url("/img/front/resources/all.png") no-repeat -56px -263px;
        width: 103px;
        height: 31px;
        margin: 4px 0 0 0;
        &:hover {
            background: url("/img/front/resources/all.png") no-repeat -277px -263px;
        }
    }
}


/* 地区选择
========================================================================== */
.select-place-title {
    a {
        display: block;
        /*width:120px;*/
        padding: 0 2px;
        height: 40px;
        *line-height: 43px;
        font-size: 14px;
        color: #262626;
        text-decoration: none;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        margin-left: -1px;
        &:hover {
            color: #ff9242;
            background-color: #fff;
            border-color: #dcdcdc;
        }
        font {
            *font-size: 14px;
        }
    }
    img {
        margin-left: 4px;
        vertical-align: middle;
    }
}

.select-place-acitve a {
    position: relative;
    z-index: 91;
    color: #ff9242;
    background-color: #fff;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    cursor: text;
}

.select-place-content {
    position: relative;
    z-index: 5;
}

.tabs-area {
    display: none;
    padding: 20px;
    height: auto;
    background: #fff;
    width: 442px;
    position: absolute;
    top: -1px;
    left: -50px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 4px #aaa;
    z-index: 90;
    .mt {
        height: 30px;
        border-bottom: 2px solid #82ac22;
        li {
            float: left;
            background: #f9f9f9;
            border: 1px solid #dcdcdc;
            border-bottom: none;
            min-width: 104px;
            padding: 0 5px;
            text-align: center;
            height: 29px;
            line-height: 29px;
            cursor: pointer;
            margin-right: 10px;
            &.curr {
                border: 2px solid #82ac22;
                border-bottom: none;
                background: #fff;
                height: 30px;
                line-height: 30px;
            }
            a {
                font-size: 14px;
                color: #626262;
            }
        }
    }
    .tabs-area-block {
        a {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: top;
            *vertical-align: middle;
            color: #262626;
            font-size: 14px;
            width: 87px;
            height: 34px;
            text-align: left;
            text-decoration: none;
            outline: none;
            &:hover, &.active {
                color: #82ac22;
            }
        }
        li.lang {
            width: 140px;
            a {
                width: 140px;
            }
        }
        ul {}
        li {
            float: left;
            width: 90px;
            padding: 2px 0 2px 20px;
            clear: none;
            height: 40px;
            line-height: 40px;
            border-right: none;
        }
    }
    .clr {
        display: block;
        clear: both;
    }
    .close {
        background: url(/img/usercenter/paylist/bg-all.png) no-repeat -116px -396px;
        width: 18px;
        height: 18px;
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 20;
    }
}