//
// 弹出层 - 前台
// --------------------------------------------------



/* PHP数据库操作，返回提示结果
========================================================================== */
#flashMessage{
  display: none;
  font-size: 14px;
  padding: 20px 20px 10px;
  text-align: center;
}


/* jquery-ui 弹出框 重构
========================================================================== */
.ui-dialog {
  z-index: 1008;
  overflow: visible;
  padding: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-radius: 0;
}

.ui-widget-content {
  border: 5px solid #cdcdcd;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
}

.ui-dialog-titlebar {
  border: none;
  background: none;
}

.ui-dialog .ui-dialog-title {
  display: block;
  margin: 0 0 0 1.5em;
  i {
    &.icon-findgoods {
      background: url("/img/front/common/dialog-bg.png") no-repeat -149px -344px;
      width: 20px;
      height: 18px;
      display: inline-block;
      margin-right: 5px;
      *display: inline;
      *zoom: 1;
      *vertical-align: middle;
    }
    &.icon-feedback {
      background: url(/img/front/common/front-all-bg.png) no-repeat -36px -107px;
      width: 32px;
      height: 28px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      *vertical-align: middle;
      vertical-align: text-bottom;
    }
  }
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: 0;
  display: none;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close {
  position: absolute;
  top: 26px;
  right: 15px;
  z-index: 1001;
  height: 18px;
  width: 18px;
  background: url("/img/front/common/dialog-bg.png") no-repeat -137px -46px;
  border: none;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  &:hover {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.d-dialog-purple .ui-dialog-titlebar {
  background: #5b5966;
}

.d-dialog-orange .ui-dialog-titlebar {
  background: #ffbd1e;
}

.d-dialog-blue .ui-dialog-titlebar {
  background: #cde0f9;
  color: #484747;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  .ui-dialog-titlebar-close {
    top: 16px;
    right: 10px;
  }
}

.ui-dialog-titlebar-close .ui-icon-closethick {
  display: none;
}

.ui-dialog .ui-dialog-content {
  padding: 0;
  overflow: hidden;
}

.ui-dialog {
  .ui-dialog-buttonpane {
    padding: 0;
    border: none;
    margin: 1em 0;
  }
  .ui-helper-clearfix {
    border-top: none;
    .ui-dialog-buttonset {
      text-align: center;
      width: 100%;
    }
  }
  .ui-dialog-buttonpane button {
    margin: 0;
  }
}

.ui-helper-clearfix .ui-dialog-buttonset .ui-button-text-only {
  width: 90px;
  height: 37px;
  display: inline-block;
  *zoom: 1;
  *display: inline-block;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 16px;
  background: url(/img/usercenter/ucent-allbtn-bg.png) no-repeat -152px -314px;
  &:hover {
    background: url(/img/usercenter/ucent-allbtn-bg.png) no-repeat -39px -314px;
  }
}


/* 金融页面 联系方式
========================================================================== */
.contactlog {
  width: 545px;
  height: 356px;
  position: relative;
  background: #fff;
  display: none;
  em {
    position: absolute;
    right: 27px;
    top: 24px;
    display: block;
    width: 35px;
    height: 35px;
    background: url(/img/finance/credit.png) no-repeat -249px -1735px;
    cursor: pointer;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    &:hover {
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  .dg-title {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .d-input {
    margin: 0 auto 30px;
    text-align: center;
    width: 366px;
    position: relative;
    label {
      font-size: 14px;
      margin-right: 20px;
      vertical-align: middle;
      *vertical-align: top;
      *dispaly: inline;
      *zoom: 1;
      *padding-top: 10px;
      *padding-bottom: 10px;
    }
    span {
      position: absolute;
      left: 56px;
      top: 44px;
      color: #ff9242;
      display: none;
    }
    input[type=text] {
      width: 292px;
      padding-left: 15px;
      height: 38px;
      line-height: 38px;
      background: #f1f2f2;
    }
    i {
      color: #db0720;
    }
    input[type=submit] {
      width: 112px;
      height: 45px;
      background: #f0795c;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
    }
  }
}


/* 帮我找货
========================================================================== */
#d-dialog-feedback {
  background: #ffffff;
  display: none;
  padding: 15px 25px;
  font-size: 14px;
  li {
    padding-bottom: 14px;
    position: relative;
    height: 34px;
    &.text-area {
      height: 159px;
      padding-bottom: 4px;
      position: relative;
    }
    textarea, input {
      width: 258px;
      border: 1px solid #e6e6e6;
      color: #959595;
      box-shadow: 2px 2px 4px #f1f1f1 inset;
    }
    textarea {
      height: 115px;
      padding: 20px;
      line-height: 16px;
      resize: none;
      overflow: hidden;
    }
    input {
      height: 32px;
      line-height: 32px;
      padding: 0 20px;
    }
    &.error {
      textarea, input {
        border: 1px solid #ff9242;
      }
    }
  }
  div {
    text-align: center;
    &.des {
      text-align: left;
      padding-left: 20px;
      p {
        color: #b0b0b0;
        font-size: 12px;
        margin-bottom: 20px;
      }
      h4 {
        color: #ff7e76;
        height: 24px;
        line-height: 24px;
        i {
          width: 20px;
          height: 24px;
          background: url(/img/front/common/front-all-bg.png) no-repeat -40px -23px;
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
        }
      }
    }
  }
}

#d-dialog-feedback-submit {
  width: 130px;
  height: 36px;
  display: inline-block;
  *zoom: 1;
  *display: inline-block;
  cursor: pointer;
  border: none;
  margin-top: 19px;
  color: #fff;
  font-size: 16px;
  background: #ff7171;
  &:hover {
    background: #ff5555;
  }
}


/* 用户登录的弹出框
========================================================================== */
#user-login {
  display: none;
  font-size: 14px;
}

#dia-member-login-form {
  padding-top: 20px;
  width: 286px;
  margin: 0 auto;
}

#dia-member-login-error {
  margin: 0 auto;
  background: url(/img/member/login/all.png) no-repeat -37px -731px;
  width: 282px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #ff9344;
  text-indent: 40px;
  display: none;
  border: 1px solid #ffa767;
}

#dia-member-login-form {
  form label {
    color: #707070;
    display: block;
    width: 50px;
    padding: 15px 4px 4px;
  }
  .d-input-box {
    position: relative;
    border: 1px solid #c2c2c2;
    height: 35px;
    margin-top: 26px;
    i {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 16px;
      height: 16px;
      padding: 0;
      cursor: pointer;
    }
  }
  .d-input-user i {
    background: url(/img/front/common/dialog-bg.png) no-repeat -52px -46px;
  }
  .d-input-password i {
    background: url(/img/front/common/dialog-bg.png) no-repeat -92px -46px;
  }
  .d-input-box input {
    font-size: 14px;
    color: #959595;
    height: 35px;
    line-height: 35px;
    *height: 33px;
    *line-height: 33px;
    width: 240px;
    padding-left: 1em;
    *padding-left: 1em;
    &#dia-member-password {
      width: 160px;
    }
  }
  .d-input-password {
    width: 175px;
    float: left;
  }
  .d-input-box.d-error-border {
    border: 1px solid #ffa767;
    box-shadow: 0 0 4px #ffa767;
  }
  #dia-member-sms {
    display: block;
    width: 89px;
    height: 37px;
    line-height: 37px;
    background: #c8cce1;
    color: #fff;
    text-align: center;
    margin: 26px 0 0 197px;
    text-decoration: none;
    border-radius: 4px;
  }
  #dia-member-login-submit {
    display: block;
    width: 100%;
    height: 35px;
    background: #f1f2f7;
    border: 1px solid #999;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin: 26px auto 14px;
    &:hover {
      background: #cad0ed;
    }
  }
  .dia-forget-register {
    height: 17px;
    line-height: 17px;
    a {
      font-size: 14px;
      color: #1d7ff6;
      text-decoration: none;
      margin-left: 6px;
    }
    .left {
      color: #000;
    }
  }
  .dia-login-other {
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    .left {
      color: #626262;
    }
    a {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }
    #wechatLogin {
      background: url(/img/front/common/dialog-bg.png) no-repeat -329px -40px;
    }
    #sinaLogin {
      background: url(/img/front/common/dialog-bg.png) no-repeat -266px -40px;
    }
    #qqLogin {
      background: url(/img/front/common/dialog-bg.png) no-repeat -204px -40px;
    }
  }
}


/* 查看招标&我要报价
========================================================================== */
#d-dialog-lookover-quote, #d-dialog-lookover-view, #d-dialog-lookover-views {
  display: none;
  font-size: 14px;
  color: #000;
  padding: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

#d-dialog-tender-view {
  font-size: 14px;
  color: #000;
  padding: 10px 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

#d-dialog-tender-views {
  display: none;
  font-size: 14px;
  color: #000;
  padding: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.Ikonwthat {
  width: 139px;
  height: 36px;
  display: block;
  margin: 27px auto;
  *margin: 22px auto;
  background: url(/img/usercenter/common/user-bg-all.png) no-repeat -960px -472px;
  &:hover {
    background: url(/img/usercenter/common/user-bg-all.png) no-repeat -960px -528px;
  }
}

.newtender-show {
  display: none;
}

.newbiddiv-div {
  display: none;
  .selectthat {
    width: 139px;
    height: 36px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-top: 19px;
    margin-left: 73px;
    background: url(/img/usercenter/common/user-bg-all.png) no-repeat -604px -472px;
    &:hover {
      background: url(/img/usercenter/common/user-bg-all.png) no-repeat -604px -528px;
    }
  }
  .closedown {
    width: 139px;
    height: 36px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-top: 19px;
    margin-left: 31px;
    background: url(/img/usercenter/common/user-bg-all.png) no-repeat -781px -472px;
    &:hover {
      background: url(/img/usercenter/common/user-bg-all.png) no-repeat -781px -528px;
    }
  }
}

#contact-detail.lookovers-content .getbidclass, #contact-details.lookovers-content .getbidclass {
  color: #fb6360;
  font-weight: bold;
  p {
    color: #fb6360;
    font-weight: bold;
  }
}

.d-dialog-lookover {
  #tender-detail {
    margin-bottom: 20px;
  }
  .lookovers-content {
    border: 2px solid #dbc1b1;
    border-radius: 3px;
    position: relative;
    padding: 0 6px 6px;
    h4 {
      background: #fff;
      position: absolute;
      top: -7px;
      left: 10px;
      width: 69px;
      text-align: center;
      color: #ffa767;
      font-size: 16px;
    }
  }
  ul {
    width: 460px;
    margin: 0 auto 7px;
    padding: 24px 0 0;
  }
}

#d-dialog-lookover-quote.d-dialog-lookover ul {
  width: 490px;
}

.d-dialog-lookover {
  li {
    min-height: 18px;
    padding: 6px 0;
    margin-left: 20px;
    div {
      &.left {
        width: 48%;
      }
      &.right {
        width: 50%;
      }
    }
    label {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 74px;
      float: left;
      font-size: 14px;
      i {
        &.d-em-2 {
          margin-right: 2em;
        }
        &.d-em-05 {
          margin-right: 0.5em;
        }
      }
    }
    p {
      color: #626262;
      margin-left: 75px;
      position: relative;
    }
  }
  form li {
    margin-bottom: 5px;
    *margin-bottom: 0;
    &.textparent-li {
      width: 452px;
      overflow: hidden;
    }
    label {
      line-height: 24px;
    }
    p {
      input, textarea {
        border: 1px solid #dbc1b1;
        border-radius: 3px;
        color: #626262;
        width: 100px;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
        padding: 0 10px;
      }
      input {
        margin-right: 4px;
      }
      textarea {
        width: 350px;
        height: 80px;
        padding: 10px;
      }
    }
  }
  .can-supply {
    width: 380px;
    margin: 0 auto;
    text-align: center;
    p {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 48%;
      font-size: 16px;
    }
    em {
      color: #c92727;
      margin-right: 4px;
      font-weight: normal;
    }
    i {
      font-size: 14px;
      font-weight: normal;
    }
  }
  .choice-pirce {
    margin: 20px auto;
  }
  .chose-delivery-link-a {
    display: block;
    color: #fff;
    background: #ff7171;
    font-size: 16px;
    width: 122px;
    margin: 30px auto 0;
    text-align: center;
    text-decoration: none;
    height: 36px;
    line-height: 36px;
    &:hover {
      background: #ff5555;
    }
  }
  .lookovers-submit {
    text-align: center;
    padding-bottom: 20px;
    *padding-bottom: 0;
    input {
      display: block;
      color: #fff;
      background: #ff7171;
      font-size: 16px;
      width: 122px;
      margin: 30px auto 0;
      *margin: 26px auto 0;
      text-align: center;
      text-decoration: none;
      height: 36px;
      line-height: 36px;
      &:hover {
        background: #ff5555;
      }
    }
  }
}


/* 获取验证码
========================================================================== */
#get-smscode {
  cursor: pointer;
}

#d-dialog-verification {
  display: none;
  font-size: 14px;
  padding: 30px 40px 0;
  .verification-content {
    height: 32px;
    line-height: 32px;
    margin-bottom: 30px;
    input {
      border: 1px solid #c2c2c2;
      border-radius: 3px;
      padding: 0 14px;
      color: #959595;
      height: 30px;
      line-height: 30px;
      width: 84px;
      vertical-align: middle;
    }
    img {
      width: 78px;
      height: 30px;
      border: 1px solid #e2e2e2;
      vertical-align: middle;
      margin: 0 4px;
    }
    a {
      color: #1d7ff6;
    }
  }
  .verification-button {
    text-align: center;
    a {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 130px;
      height: 36px;
      line-height: 36px;
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      background: #ff7171;
      &:hover {
        background: #ff5555;
      }
    }
  }
}


/* 获取验证码(新)
========================================================================== */
#d-dialog-verifycode {
  display: none;
  font-size: 14px;
  padding: 30px 33px 0;
  .verification-content {
    height: 32px;
    line-height: 32px;
    margin-bottom: 30px;
    input {
      border: 1px solid #c2c2c2;
      padding-left: 1em;
      color: #959595;
      height: 35px;
      line-height: 37px;
      width: 175px;
      vertical-align: middle;
    }
    img {
      width: 78px;
      height: 30px;
      border: 1px solid #e2e2e2;
      vertical-align: middle;
      margin: 0 4px;
    }
    a {
      color: #1d7ff6;
    }
  }
  .verification-button {
    text-align: center;
    a {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 96px;
      height: 23px;
      line-height: 23px;
      font-size: 12px;
      color: #fff;
      text-decoration: none;
      background: #ff8e42;
      border-radius: 3px;
      &:hover {
        background: #fd8331;
      }
    }
  }
}


/* message
========================================================================== */
#d-dialog-msgbox {
  background: #fff;
  display: none;
  padding: 20px 60px;
  font-size: 16px;
  .msgbox-content {
    margin-bottom: 20px;
    min-height: 70px;
  }
  .msgbox-icon {
    width: 66px;
    height: 66px;
    float: left;
  }
  .icon-alarm {
    background: url(/img/front/common/dialog-bg.png) no-repeat -39px -405px;
  }
  .icon-right {
    background: url(/img/front/common/dialog-bg.png) no-repeat -150px -405px;
  }
  .icon-error {
    background: url(/img/front/common/dialog-bg.png) no-repeat -263px -405px;
  }
  .msgbox-text {
    margin-left: 80px;
    &.text-single {
      line-height: 66px;
      *line-height: 30px;
    }
    &.text-double {
      line-height: 20px;
      padding-top: 12px;
    }
    .not-login-messagess {
      width: 180px;
      a {
        color: #4c749c;
        &:hover {
          color: #ffa767;
        }
      }
    }
    h2 {
      font-size: 18px;
      margin-bottom: 4px;
    }
    em {
      font-size: 14px;
      color: #ff7171;
    }
    span {
      font-size: 14px;
      color: #aaa;
    }
  }
  .msgbox-button {
    text-align: center;
    a {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 90px;
      height: 36px;
      line-height: 36px;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      &.sure {
        background: #ff7474;
        &:hover {
          background: #ff5252;
        }
      }
      &.delete {
        background: #abb8bf;
        margin-left: 50px;
        &:hover {
          background: #90a4ae;
        }
      }
    }
  }
}


/* 确认删除
========================================================================== */
#sure-delete {
  background: #fff;
  display: none;
  #sure-image {
    width: 96px;
    height: 96px;
    float: left;
    margin-left: 28px;
    margin-top: 25px;
    background: url(/img/usercenter/exclamation-mark.png);
  }
}

#sure-delete-content {
  width: 238px;
  height: 147px;
  float: right;
}

#ConfirmMessageBody, #ConfirmMessageBodys-msg {
  width: 228px;
  text-align: center;
}

.sure-delete-message {
  font-size: 16px;
  color: #626262;
  margin-top: 30px;
}

.sure_a {
  width: 90px;
  height: 37px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  line-height: 37px;
  margin-top: 36px;
  margin-left: 19px;
}

#sure {
  vertical-align: middle;
}

.ui-button {
  outline: none;
}

.delete_a {
  width: 90px;
  height: 37px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  line-height: 37px;
  margin-top: 36px;
  margin-left: 14px;
}

#delete {
  vertical-align: middle;
}


/* 提示框
========================================================================== */
#cuebox {
  width: 374px;
  height: 193px;
  background: #fff;
  display: none;
}

#sure-images {
  width: 96px;
  height: 96px;
  float: left;
  margin-left: 28px;
  margin-top: 25px;
  div {
    width: 93px;
    height: 93px;
    background: url(/img/usercenter/failure.png);
  }
}

#sure-delete-contents {
  width: 230px;
  height: 147px;
  float: left;
}

.sure-delete-messages {
  font-size: 16px;
  color: #626262;
  margin-top: 30px;
}

.sures_a {
  width: 87px;
  height: 32px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  line-height: 32px;
  margin-top: 36px;
  margin-left: 72px;
}

#sures {
  vertical-align: middle;
}


/* 购物车提示框
========================================================================== */
#shopcuebox {
  width: 374px;
  height: 193px;
  background: #fff;
  display: none;
}

#shopsure-images {
  width: 96px;
  height: 96px;
  float: left;
  margin-left: 28px;
  margin-top: 25px;
  div {
    width: 93px;
    height: 93px;
    margin-left: 34px;
    margin-top: 4px;
    background: url(/img/front/common/dialog-bg.png) no-repeat -150px -405px;
  }
}

#shopsure-delete-contents {
  height: 147px;
  float: left;
}

.shopsure-delete-messages {
  font-size: 16px;
  color: #626262;
  margin-top: 52px;
  text-align: left;
  text-indent: 13px;
}

.shopsures_a {
  width: 90px;
  height: 37px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  line-height: 32px;
  margin-top: 36px;
  background: url(/img/usercenter/ucent-allbtn-bg.png) no-repeat -152px -314px;
  &:hover {
    background: url(/img/usercenter/ucent-allbtn-bg.png) no-repeat -39px -314px;
  }
}

#shopsures {
  vertical-align: middle;
}


/* 样式 - 海淘
========================================================================== */
.dialog-style-haitao {
  border: none;
  border-radius: 10px;
  background: #fff;

  .ui-dialog-titlebar {
    height: 60px;
    line-height: 60px;

    .ui-dialog-titlebar-close {
      position: absolute;
      right: 18px;
      top: 24px;
      display: block;
      width: 35px;
      height: 35px;
      background: url(/img/finance/credit.png) no-repeat -249px -1735px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }
  }

}
