<div id="app-download" class="weui-flex">
    <p class="weui-flex__item" i18n>app set purchase network</p>
    <a href="http://www.16988.com/bric/app_download" i18n>immediately open</a>
</div>

<section id="Home" class="container">

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide blue-slide">
                <img src="/assets/img/index/adv-1.jpg" alt="">
            </div>
            <div class="swiper-slide red-slide">
                <img src="/assets/img/index/adv-2.jpg" alt="">
            </div>
            <div class="swiper-slide orange-slide">
                <img src="/assets/img/index/adv-3.jpg" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>


    <div class="home-menu weui-flex">
        <a class="find-goods weui-flex__item" [routerLink]="['/quotedPrice']">
            <img src="/assets/img/index/find-goods.png" alt="">
            <p i18n>find goods</p>
        </a>
        <a class="quoted-price weui-flex__item" [routerLink]="['/trendCharts']">
            <img src="/assets/img/index/quoted-price.png" alt="">
            <p i18n>quoted price</p>
        </a>
        <a class="resource weui-flex__item" [routerLink]="['/resources']">
            <img src="/assets/img/index/resource.png" alt="">
            <p i18n>resource</p>
        </a>
    </div>


    <div id="entrust-phone" class="weui-flex">
        <p class="weui-flex__item">
            <img src="/assets/img/index/phone.png" alt="">
            <span i18n>entrust phone</span>
        </p>
        <a href="tel:4001698801" i18n>click to dial up</a>
    </div>


    <div class="home-procedure">
        <img src="/assets/img/index/procedure.png" alt="">
    </div>

    <div class="weui-footer">
        <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link" i18n>touch screen version</a>
            <a href="javascript:void(0);" class="weui-footer__link" i18n>client app</a>
            <a href="javascript:void(0);" class="weui-footer__link" i18n>computer version</a>
        </p>
        <p class="weui-footer__text" i18n>copyright</p>
    </div>

</section>