/* 首页
========================================================================== */
#Home {
  .home-menu {
    a {
      padding: 1.2rem 1rem;
      text-align: center;
      img {
        max-width: 200px;
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: #616161;
      line-height: 2rem;
    }
  }

  .weui-footer {
    background-color: #efefef;
    padding: .4rem 0;
  }
}