/* 委托找货
========================================================================== */
#QuotedPrice {
  background: #f0eff5;
  height: 100%;

  form {
    margin-top: 3.5em;
  }

  .weui-cells {
    margin-top: .5em;
  }

  .send-msg {
    width: 94%;
    margin-top: 1em;
  }
}

#entrust-phone {
  position: fixed;
  bottom: 0;
}