//
// 分页
// --------------------------------------------------


/* 基础
========================================================================== */
.paging {
  span {
    display: block;
    width: 33px;
    float: left;
    line-height: 33px;
    text-align: center;
    margin-left: 8px;
  }
  a:hover {
    -webkit-box-shadow: 0 3px 5px #e3e3e3;
    -moz-box-shadow: 0 3px 5px #e3e3e3;
    box-shadow: 0 3px 5px #e3e3e3;
  }
  span {
    &.page-span {
      width: 90px;
    }
    &.total-span-class {
      width: 70px;
    }
  }
  a {
    display: block;
    text-decoration: none;
    width: 33px;
    height: 33px;
    line-height: 33px;
  }
  .disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
  }
  .fisrt-page {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
    &:hover {
      cursor: default;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

#ellipsis {
  cursor: default;
}

#skip-page {
  width: 33px;
  height: 33px;
  margin: 0 11px;
  text-align: center;
  vertical-align: middle\9;
  line-height: 35px\9;
}

#page-span-submit {
  width: 45px;
  height: 33px;
  cursor: pointer;
}


/* 皮肤 - 5
========================================================================== */
.pagination-skin-5 {

  a {
    background: #fff;
    color: #626262;
    background: url("/img/page-bg.png") no-repeat -300px -850px;
  }
  .current {
    color: #fff;
    background: url("/img/page-bg.png") no-repeat -165px -850px;
  }
  .disabled, .fisrt-page {
    color: #fff;
    background: url("/img/page-bg.png") no-repeat -45px -850px;
  }

  #skip-page {
    background: url("/img/page-bg.png") no-repeat -300px -850px;
  }

  #page-span-submit {
    background: url("/img/page-bg.png") no-repeat -396px -848px;
    &:hover {
      background: url("/img/page-bg.png") no-repeat -396px -909px;
    }
  }

}

