//
// 下拉框
// --------------------------------------------------


/* base
========================================================================== */
.d-select {
  width: 150px;
  background: #fff;
  border: 1px solid #dbc1b1;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  color: #666;
  filter: alpha(opacity = 0);
  -moz-opacity: 0;
  opacity: 0;
}

.d-select-area {
  position: relative;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 150px;
  height: 30px;
  line-height: 30px;
  color: #666;
  *vertical-align: middle;
  .d-select-body {
    position: absolute;
    display: none;
    top: 35px;
    left: 0;
    width: 148px;
    background: #fff;
    padding: 4px 0;
    border-radius: 3px;
  }
  .d-select-content {
    position: absolute;
    overflow: hidden;
    dl {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      dd {
        margin: 0 4px;
        padding: 0 1em;
        height: 28px;
        line-height: 28px;
        *height: 26px;
        *line-height: 26px;
        cursor: pointer;
        border: 1px solid #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        margin-bottom: 1px;
        &:hover, &.selected {
          border-radius: 3px;
        }
      }
    }
  }
  .d-select-scrollbar {
    width: 8px;
    position: absolute;
    top: 4px;
    right: 2px;
  }
  .d-select-slider {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.d-select-type-select .d-select-title {
  border-radius: 3px;
  cursor: pointer;
  p {
    padding: 0 10px;
  }
  em {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 0 3px 3px 0;
    text-align: center;
    i {
      width: 12px;
      height: 11px;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      *vertical-align: middle;
      margin-top: 11px;
    }
  }
}

.d-select-type-search, .d-select-type-list {
  height: auto;
}

.d-select-type-search .d-select-body, .d-select-type-list .d-select-body {
  display: block;
  top: 0;
  width: 150px;
  font-size: 14px;
}

.d-select-type-search {
  .d-select-search {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    border-radius: 3px;
    input {
      width: 100px;
      text-indent: 8px;
    }
    em {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      i {
        width: 22px;
        height: 26px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        *vertical-align: middle;
      }
    }
  }
  dl dt {
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    padding: 2px 0;
    text-indent: .5em;
  }
}

.d-select-lock {
  overflow: hidden !important;
  width: auto;
  position: relative;
  z-index: 1;
  body {
    overflow: hidden !important;
  }
  .d-select-overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: auto;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.d-select-lock-test {
  overflow-y: hidden !important;
}


/* 样式 - 咖啡色
========================================================================== */
.d-select-area.coffee {
  .d-select-title {
    border: 1px solid #dbc1b1;
    em {
      background: #dbc1b1;
    }
  }
  .d-select-body {
    border: 1px solid #dbc1b1;
    border-radius: 3px;
  }
  dl dd:hover {
    background: #dbc1b1;
    color: #fff;
    border: 1px solid #c9a887;
    border-radius: 3px;
  }
  .d-select-scrollbar {
    background: #f2dec3;
  }
  .d-select-slider {
    background: #c9a887;
  }
}


/* 样式 - google
========================================================================== */
.d-select-style-google {
  .d-select-title {
    border: 1px solid #ccc;
    em {
      background: #fff;
    }
  }
  .d-select-body {
    border: 1px solid #ccc;
    border-radius: 0;
  }
  .d-select-content dl dd:hover {
    background: #b2bc99;
    color: #fff;
    border: 1px solid #b2bc99;
  }
  .d-select-scrollbar {
    background: #ced4bf;
  }
  .d-select-slider {
    background: #b2bc99;
  }
  .d-select-title em {
    top: 1px;
    right: 1px;
    i {
      background: url("/img/front/common/select-arrow-black.png") no-repeat;
    }
  }
}