//
// 资源单
// --------------------------------------------------


#Resources {
  // background-color: #f8f9fe;
  background: #f7f9fe;
  width: 100%;

  .weui-loadmore {
    margin: 0 auto;
    padding: 1.5em 0;
  }
}


/* 产品筛选&搜索框
========================================================================== */
.condition-search {
  height: 50px;
  line-height: 50px;
  color: #ff9400;
  font-size: 18px;
  background: #f8f3f0;
  overflow: hidden;

  .products {
    width:102px;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
    em {
      font-style: normal;
    }
    .icon-arrow-right {
      width: 17px;
      height: 17px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      background: url("/assets/img/common/resource-bg.png") no-repeat -55px -9px;
    }
    #sel-product_dummy {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 0;
    }
  }

  .search-box {
    float: right;
    padding-left: 5px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 46px;
    background: #fff;
    color: #4eb5fe;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    overflow: hidden;
    position: relative;
    margin: 10px 10px 0 0;
    em, input, i {
      vertical-align: middle;
      display: inline-block;
    }
    em {
      width: 23px;
      height: 25px;
      background: url("/assets/img/common/resource-bg.png") no-repeat -19px -9px;
    }
    input {
      position: absolute;
      left: 30px;
      top: 3px;
      width: 118px;
      height: 24px;
      line-height: 24px;
      border: none;
      font-size: 12px;
      background: #fff;
      color: #333;
      outline: none;
      font-size: 1.2rem;
    }
    i {
      width: 24px;
      height: 24px;
      background: url("/assets/img/common/resource-bg.png") no-repeat -52px -81px;
      position: absolute;
      left: 124px;
      top: 3px;
      z-index: 20;
    }
    button {
      padding: 0;
      width: 38px;
      height: 24px;
      font-size: 14px;
      color: #000;
      background: #fff;
      border: none;
      margin-left: 118px;
    }
  }
}


/* 综合排序&条序&日期&城市
========================================================================== */
.condition-sort {
  background: #fff;
  dl {
    height: 40px;
    border-top: 1px solid #f0efee;
    border-bottom: 1px solid #f0efee;
    overflow: hidden;
    dd {
      text-align: center;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      border-left: 1px solid #d6d6d9;
      &:first-child {
        border-left:none;
      }
      a {
        width: 100%;
        height: 100%;
        font-size: 16px;
        color: #ff9400;
      }
      #sel-default_dummy, #sel-date_dummy, #sel-city_dummy {
        padding: 0;
        margin: 0;
        text-indent: 0px;
        width: 100%;
        text-align: center;
        border: none;
        height: 100%;
      }
    }
  }
}


/* 产品列表
========================================================================== */
.product-list {
  width: 100%;

  ul {padding-bottom: 10px;}

  ul li {
    padding: 0 10px 10px;
    overflow: hidden;
    margin-top: 10px;
    border-bottom: 1px solid #dfddda;
    background: #fff;
    .title {
      margin: 0 auto;
      height: 40px;
      line-height: 26px;
      border-bottom: 1px solid #dddede;
      background: #fff;
      .text {
        padding-left: 6px;
        font-size: 18px;
        color: #ff9400;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
      }
      .marquee {
        overflow: hidden;
        position: relative;
        font-size: 18px;
        color: #ff9400;
        font-weight: bold;
        margin-right: 1em;
        span {
          position: absolute;
          left: 0px;
          top: 0;
          display: inline-block;
          height: 40px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      .preview-num {
        margin-right: 10px;
        b {
          color: #fe9b13;
        }
      }
    }
    .pro_detail_content {
      margin-top: 10px;
      color: #242424;
      font-size: 14px;
      .pro_detail div.pro_detail_div {
        width: 178px;
        padding-left: 8px;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        &.company_name {
          width: 174px;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          overflow: hidden;
          /* height: 54px;*/
          span.cpname_span {
            vertical-align: top;
          }
        }
        .main_product {
          float: left;
          width: 100px;
          height: 30px;
          line-height: 30px;
          overflow: hidden;
        }
        .p-color-1 {
          color: #ff9400;
        }
        .p-color-3 {
          color: #91c226;
        }
        .i_icon {
          display: inline-block;
          vertical-align: middle;
          width: 15px;
          height: 20px;
          margin-left: 10px;
          &.i_icon1 {
            background: url("/assets/img/common/resource-bg.png") no-repeat -272px -10px;
          }
          &.i_icon2 {
            background: url("/assets/img/common/resource-bg.png") no-repeat -230px -13px;
          }
          &.i_icon3 {
            background: url("/assets/img/common/resource-bg.png") no-repeat -312px -13px;
          }
        }
      }
      .pro_button {
        a {
          text-align: center;
          width: 60px;
          height: 60px;
          line-height: 60px;
          border-radius: 60px;
          display: block;
          margin-right: 12px;
          color: #fff;
          font-size: 18px;
          border: 7px solid #61cffd;
        }
        .preview {
          background: #88d8fe;
          margin-top: 21px;
        }
      }
    }
  }

}


/* 分辨率适配
========================================================================== */
@media screen and (min-width: 375px) {
  #Resources .product-list ul li {
    .pro_title .marquee {
      width: 230px;
    }
    .pro_detail_content {
      .pro_detail div.pro_detail_div {
        width: 230px;
        &.company_name {
          width: 230px;
        }
        height: 40px;
        line-height: 40px;
      }
      .pro_button {
        a {
          width: 80px;
          height: 80px;
          line-height: 80px;
        }
        .preview {
          margin-top: 33px;
        }
      }
      .pro_detail div.pro_detail_div {
        .main_product {
          width: 158px;
          height: 40px;
          line-height: 40px;
        }
        .timespan {
          vertical-align: middle;
          width: 158px;
          display: inline-block;
        }
      }
    }
  }
}


/* 分辨率适配
========================================================================== */
@media screen and (min-width: 414px) {
  #Resources .product-list ul li {
    .pro_title .marquee {
      width: 269px;
    }
    .pro_detail_content {
      font-size: 16px;
      .pro_detail div.pro_detail_div {
        width: 269px;
        &.company_name {
          width: 269px;
        }
      }
    }
  }
}

footer {
  background: -webkit-gradient(linear, 0 100%, 100% 0, from(#1cd6a7), to(#79d125));
  color: #fff;
  .logo {
    width: 60px;
    i {
      display: block;
      background: url("/assets/img/common/arrow-bg.png") no-repeat -133px -6px;
      width: 42px;
      height: 42px;
      margin: 4px auto 0;
    }
  }
  h3 {
    font-size: 16px;
    margin-top: 4px;
    span {
      font-size: 12px;
      margin-left: 5px;
    }
  }
  p {
    font-size: 12px;
    margin-top: 4px;
  }
  .btn-close {
    position: absolute;
    top: -5px;
    right: 0;
    color: #fff;
    width: 20px;
    text-align: center;
  }
  a.btn-phone {
    display: inline;
    color: #fff;
    font-size: 13px;
    padding-left: 6px;
    text-decoration: underline;
  }
}