<p>Resources</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>


<section id="Resources" class="container">
    <!-- <div class="head d_column" ng-hide="IsWeiXin">
        <img src="/app/assets/img/common/app-logo.png" alt="">
        <h3 class="d_column_sub" ng-bind="i18n.resource"></h3>
    </div> -->

    <div class="productclass">
        <div class='f_l selprodu_l' (click)="produopen();">
            <select id="productlist" [(ngModel)]="ResourceList.keyword" mobiscroll-select="settings" (change)="changeList()">
              <option [ngValue]="value.id" *ngFor="let value of Categorys">{{value.name}}</option>
            </select>
            <em class="v_m">产品筛选</em><span class="icon open_ic"></span>
        </div>

        <div class='f_r search_r'>
            <div class="inline-b search_div">
              <em class="v_m lookfor inline-b"></em>
              <input [(ngModel)]="ResourceList.category" type="text" class="v_m" placeholder="输入关键字" ng-focus="ngfocus()" ng-blur="ngblurs($event)"/>
              <i (click)="clearkey($event);" class='v_m clearkey inline-b' [hidden]="!ResourceList.category"></i>
              <button (click)="search();" class='v_m surebutton'>确定</button>
            </div>
        </div>
    </div>
<!-- 
    <div class="condition_div" >
        <dl>
            <dd class='total_sort' (click)="Comprehensive();"><a href="javascript:void(0);" class="inline-b">综合排序</a></dd>
            <dd class="b_l">
                <select id="mb_default" [(ngModel)]="ResourceList.adjusting" mobiscroll-select="settings" (change)="changeList()">
                    <option selected="selected" [ngValue]="0">默认</option>
                    <option [ngValue]="1">上调</option>
                    <option [ngValue]="2">平调</option>
                    <option [ngValue]="3">下调</option>
                </select>
            </dd>
            <dd class="b_l">
                <select id="mb_date" [(ngModel)]="ResourceList.created" mobiscroll-select="settings" (change)="changeList()">
                    <option selected="selected" [ngValue]="0">全部</option>
                    <option [ngValue]="1">今天</option>
                    <option [ngValue]="2">昨天</option>
                    <option [ngValue]="3">近三天</option>
                </select>
            </dd>
            <dd class="b_l dd_last">
                <select id="mb_city" [(ngModel)]="ResourceList.cityid" mobiscroll-select="settings" (change)="changeList()">
                    <option [ngValue]="value.id" *ngFor="(key, value) in Citys">{{value.name}}</option>
                </select>
            </dd>
        </dl>
    </div>
    

    <div class="loadimg" [hidden]="!isSearch"><img [src]="/app/assets/img/common/ajax-loader.gif" /></div>
    产品列表
    <div class="product_list" ng-if="ResourceList.result.length > 0" [hidden]="isSearch">
        <ul>
            <li *ngFor="(key, value) in ResourceList.result">
                <div class="pro_title">
                    <p class="f_l p_title" ng-if="!value.isMarquee">{{value.description}}</p>
                    <p ng-if="value.isMarquee" class="marquee"><span>{{value.description}}</span></p>
                    <p class="f_r look_down"><span class="v_m">预览：</span><b class="v_m">{{value.view}}</b></p>
                </div>
                <div class='pro_detail_content'>
                    <div class='f_l pro_detail'>
                        <div class="pro_detail_div">
                            <div class="f_l">主营产品：</div>
                            <div class="main_product">
                                <p *ngFor="(key, values) in value.info">{{values.LevelName}}</p>
                            </div>
                        </div>
                        <div class="pro_detail_div">
                            <div class="f_l">今日调价：</div>
                            <div class="main_product">
                                <p class="p-color-{{values.adjusting_id}}" *ngFor="(key, values) in value.info">{{values.adjusting_price}}
                                    <i class="i_icon v_m i_icon{{values.adjusting_id}}"></i>
                                </p>
                            </div>
                        </div>
                        <div class="pro_detail_div"><div class="f_l">上传时间：</div><span class="timespan">{{value.created}}</span></div>
                        <div class="company_name pro_detail_div"><div class="f_l cpname_d">公司名称：</div><span class="cpname_span">{{value.company_name}}</span></div>
                    </div>
                    <div class="f_r pro_button">
                        <a href="#/resourcesView/{{value.id}}" class="preview">预览</a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="d_h_c" ng-if="ResourceList.total > 1" (click)="moreGetResourceList()">
            <a href="javascript:;" ng-hide="ResourceList.isLoader" class="loader-more" ng-bind="i18n.load_more"></a>
            <div class="d-loader" [hidden]="!ResourceList.isLoader"><img [src]="/app/assets/img/common/ajax-loader.gif" /></div>
        </div>
    </div>

    <div class="product_none" ng-if="ResourceList.result.length == 0" [hidden]="isSearch">
        <img src="/app/assets/img/common/person.png" class="nonemesg">
    </div>

    <div class="foot" ng-init="footState=true;" [hidden]="!footState">
        <a href="javascript:;" class="btn-close" (click)="footState=false;">
            <img src="/app/assets/img/common/foot-close.png" alt="">
        </a>
        <div  class="d_column">
            <a href="tel:4001698801" class="d_column_sub">
                <img src="/app/assets/img/common/foot-man.png" alt="">
                <span ng-bind="i18n.entrust_phone"></span>
            </a>
            <a href="tel:4001698801" class="btn" ng-bind="i18n.click_to_dial_up"></a>
        </div>
    </div>
 -->
</section>