<section id="Resources" class="container">

    <div class="head" [hidden]="IsWeiXin">
        <div class="weui-flex">
            <img src="/assets/img/common/app-logo.png" alt="">
            <h3 class="weui-flex__item">资源单</h3>
        </div>
    </div>

    <div class="condition-search weui-flex">
        <div class='products'>
            <select id="sel-product" name="keyword"
                    mobiscroll
                    (onSet)="Resources.keyword=$event;changeList()" 
                    [(ngModel)]="Resources.keyword" 
                    [hidden]="true"
                >
              <option *ngFor="let value of Categorys" [ngValue]="value.id">{{value.name}}</option>
            </select>
            <em class="vertical-middle">产品筛选</em><span class="icon-arrow-right"></span>
        </div>

        <div class='weui-flex__item'>
            <div class="search-box">
              <em></em>
              <input type="text" name="category" placeholder="输入关键字" 
                     [(ngModel)]="Resources.category"
                     (focus)="seachTextFocus($event)"
                     (blur)="seachTextBlur($event)" />
              <i (click)="seachTextClear($event);"  [hidden]="!Resources.category"></i>
              <button>确定</button>
            </div>
        </div>
    </div>

    <div class="condition-sort">
        <dl class="weui-flex">
            <dd class='weui-flex__item total_sort' (click)="changeList(true);">
                <a href="javascript:void(0);" class="inline-block">综合排序</a>
            </dd>
            <dd class="weui-flex__item">
                <select id="sel-default" name="adjusting"
                        mobiscroll
                        (onSet)="Resources.adjusting=$event;changeList()"
                        [(ngModel)]="Resources.adjusting"
                        [hidden]="true"
                    >
                    <option [ngValue]="'0'">默认</option>
                    <option [ngValue]="'1'">上调</option>
                    <option [ngValue]="'2'">平调</option>
                    <option [ngValue]="'3'">下调</option>
                </select>
            </dd>
            <dd class="weui-flex__item">
                <select id="sel-date" name="created"
                        mobiscroll
                        (onSet)="Resources.created=$event;changeList()" 
                        [(ngModel)]="Resources.created" 
                        [hidden]="true"
                    >
                    <option [ngValue]="'0'">全部</option>
                    <option [ngValue]="'1'">今天</option>
                    <option [ngValue]="'2'">昨天</option>
                    <option [ngValue]="'3'">近三天</option>
                </select>
            </dd>
            <dd class="weui-flex__item">
                <select id="sel-city" name="cityid"
                        mobiscroll
                        (onSet)="Resources.cityid=$event;changeList()"
                        [(ngModel)]="Resources.cityid" 
                        [hidden]="true"
                    >
                    <option *ngFor="let value of Citys" [ngValue]="value.id">{{value.name}}</option>
                </select>
            </dd>
        </dl>
    </div>

    <div class="product-list" *ngIf="Resources.result.length > 0" >

        <ul>
            <li *ngFor="let value of Resources.result">
                <div class="title weui-flex">
                    <p class="text weui-flex__item" *ngIf="!value.isMarquee">{{value.description}}</p>
                    <p class="marquee weui-flex__item" *ngIf="value.isMarquee"><span>{{value.description}}</span></p>
                    <p class="preview-num"><span class="vertical-middle">预览：</span><b class="vertical-middle">{{value.view}}</b></p>
                </div>
                <div class='pro_detail_content'>
                    <div class='float-left pro_detail'>
                        <div class="pro_detail_div">
                            <div class="float-left">主营产品：</div>
                            <div class="main_product">
                                <p *ngFor="let values of value.info">{{values.LevelName}}</p>
                            </div>
                        </div>
                        <div class="pro_detail_div">
                            <div class="float-left">今日调价：</div>
                            <div class="main_product">
                                <p class="p-color-{{values.adjusting_id}}" *ngFor="let values of value.info">{{values.adjusting_price}}
                                    <i class="i_icon vertical-middle i_icon{{values.adjusting_id}}"></i>
                                </p>
                            </div>
                        </div>
                        <div class="pro_detail_div"><div class="float-left">上传时间：</div><span class="timespan">{{value.created}}</span></div>
                        <div class="company_name pro_detail_div"><div class="float-left cpname_d">公司名称：</div><span class="cpname_span">{{value.company_name}}</span></div>
                    </div>
                    <div class="float-right pro_button">
                        <a class="preview" [routerLink]="['/resourcesView',value.id]" >预览</a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="weui-loadmore" *ngIf="Resources.total > 1" (click)="getMoreList()" [hidden]="Resources.isLoader||Resources.isLast">
            <span class="weui-loadmore__tips" >加载更多</span>
        </div>
    </div>

    <div class="text-center" *ngIf="Resources.total == 0" [hidden]="Resources.isLoader">
        <img src="/assets/img/common/person.png" class="nonemesg">
    </div>

    <div class="weui-loadmore" [hidden]="!Resources.isLoader">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>


<!-- 
    <div class="foot" ng-init="footState=true;" [hidden]="!footState">
        <a href="javascript:;" class="btn-close" (click)="footState=false;">
            <img src="/assets/img/common/foot-close.png" alt="">
        </a>
        <div  class="weui-flex">
            <a href="tel:4001698801" class="weui-flex__item">
                <img src="/assets/img/common/foot-man.png" alt="">
                <span ng-bind="i18n.entrust_phone"></span>
            </a>
            <a href="tel:4001698801" class="btn" ng-bind="i18n.click_to_dial_up"></a>
        </div>
    </div>
 -->
</section>
